/ExampleNodes
/ExampleNodesTest
/LogicNodes
/LogicNodesSDK
/LogicNodesTest
/PersistenceNodes
/packages
/*.sln
/.vs
/DewPoint/bin
/DewPoint/obj
/SendMail/bin
/SendMail/obj
/Zip
/ModbusClient/bin
/ModbusClient/obj
